html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.location-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.google-map {
    width: 100%;
    height: 100vh;
    background: #ccc;
}

.location-info {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 9999;
    padding:35px 25px 20px;
    background: #fff;
}

.location-row {
    width: 100%;
    float: left;
    position: relative;
}

.location-input {
    width: 100%;
    background: #fff;
    border-radius: 50px;
    border: 2px #fff solid;
    height: 45px;
    padding: 0 20px 0 20px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.17) !important;
-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.17) !important;
box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.17) !important;

}

.location-input:focus {
    border-color: #fff;
    outline: none;
}

.location-icon {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
}
.previous-icon svg {
    float: left;
    margin-right: 20px;
    width: 10px;
    margin-top: 0px;
}
.location-icon img {
    width: 18px;
}

.google-map {
    width: 100%;
}

.google-map img {
    width: 100%;
}

.location-info h2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
    line-height:25px;
}
.pac-item { border-top: none !important;}
.pac-container{ border-radius: 10px !important;}
.location-info p {
    font-size: 12px;
    color: #858585;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

.location-search-btn {
    width: 45px;
    height: 45px;
    background: #8c3bfa;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    color: #fff;
    float: right;
    -webkit-box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.location-search-btn .fa{ font-size: 20px;}
.location-search-btn:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.47);
    background: #7b2ce6;
}

.location-search-btn:focus {
    outline: none;
    background: #7b2ce6;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #858585;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

 ::placeholder {
    color: #858585;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    width: 100%;
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */