<ion-content fullscreen>
    <section class="started-job-col">
        <div class="vertical-align-wrap2">
            <div class="vertical-align vertical-align--middle">
                <img src="../../../assets/images/loder.png">
                <h4>Hey! {{getAcceptVendorData().name | titlecase}} has arrived<br> to get done the job</h4>
                <p>Please welcome them and co-operate <br> while they're on the job.</p>
            </div>
        </div>
    </section>
</ion-content>