.previous-icon svg {
    float: left;
    margin-right: 20px;
    width: 10px;
    margin-top: -1px;
}

.previous-icon h2 {
    color: #222;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 22px;
}

#expand-search {
    position: absolute;
    right: 25px;
    top: 30px;
}

.tab-content {
    width: 100%;
    padding: 25px;
    height: 70vh;
    overflow-y: scroll;
}
ul.top-tab-list{ background: #f9f8f9 !important;}
ul.tab-content-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

ul.tab-content-list li {
    width: 100%;
    margin-bottom: 15px;
}
.sub-category-top{
    height: auto !important;
    background: #fff !important;
    padding-bottom: 0px !important;
    margin-bottom: 15px;
}
ul.tab-content-list li .sub-category-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px #ebebeb solid;
    float: left;
    margin-right: 20px;
    padding: 3px;
}

ul.tab-content-list li .sub-category-icon svg {
    width: 25px;
}

ul.tab-content-list li .sub-category-icon:hover svg path {
    fill: #fff;
}

ul.tab-content-list li .sub-category-icon:hover {
    
    border-color: #8c3bfa;
}

.sub-category-content {
    float: left;
}

.sub-category-content h3 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #222222;
    margin: 10px 0 5px;
}

.sub-category-content p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #b3b4b5;
}

.round-image {
    border-radius: 50%;
    width: 100%;
}
@media (min-width:361px ) and (max-width:411px ) {
    .sub-category-top{
        height: 14vh;
    }
}
@media (min-width:320px ) and (max-width:360px ) {
    .sub-category-top{
        height: 15vh;
    }
}