<app-loader class="loader1" *ngIf="showLoader"></app-loader>

<ion-content fullscreen>
    <div class="main" style="background:#f5f9ff;">
        <div class="category-top-col">
            <div class="category-serach">
                <span class="search-btn" *ngIf="searchbtn">
                    <a (click)=searchopen();>
                        <img src="../../assets/images/serach-icon.png">
                    </a>
                </span>
                <span class="search-close" *ngIf="searchclose">
                    <a (click)=closebtn();>
                        <img src="../../assets/images/close.png" alt="">
                    </a>
                </span>
                <ion-input type="text" (ionChange)="onTypeSearchTerm($event)" [(ngModel)]="searchTerm" (click)="searchresult()" placeholder="what you're looking for?" class="category-serach-input"></ion-input>
            </div>
            <div class="category-list">
                <ul class="category-item">
                    <li *ngFor="let category of categoryList" (click)="onClickCategory(category.id, category.name, $event)">
                        <a>
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="39.999" viewBox="0 0 40 39.999">
                  <path id="key2" d="M39.147,12.275,35.2,8.326,31.674,4.8,27.724.855a3.175,3.175,0,0,0-3.834-.38l-10.8,7.2a2.9,2.9,0,0,0-.959,3.609l2.754,5.506c.084.169.181.347.289.534L1.248,31.25,0,40H7.5V37.5h5v-5h5v-5h5V24.719c.25.149.49.283.711.392l5.506,2.754a2.9,2.9,0,0,0,3.609-.959l7.2-10.8a3.172,3.172,0,0,0-.38-3.833ZM5.884,33.384,4.117,31.616,16.288,19.445l1.768,1.768Zm29.938-16.83-1.768,1.768a1.253,1.253,0,0,1-1.768,0L21.681,7.715a1.253,1.253,0,0,1,0-1.768L23.448,4.18a1.253,1.253,0,0,1,1.768,0L35.822,14.786a1.253,1.253,0,0,1,0,1.768Z" transform="translate(0.002 -0.001)" fill="#8c3bfa"/>
                </svg> -->
                            <img *ngIf="category.category_icon" [src]="baseImageUrl+category.category_icon" class="category_image" alt="category-icon">
                            <img *ngIf="!category.category_icon" [src]="defaultImage" class="category_image" alt="category-icon">
                        </a>
                        <p>{{category.name | titlecase}}</p>
                    </li>
                </ul>
            </div>

        </div>
        <!-- search result -->
        <div class="serach-result" *ngIf="searchlist">
            <a *ngFor="let result of searchResultList" (click)="onClickSearchResult(result)">{{result.name}}</a>
        </div>
        <!-- search result end -->
        <!-- popular item -->
        <div class="popular-item">
            <h3>Most Popular</h3>
            <ul class="popular-list">

                <li *ngFor="let service of serviceList" (click)="onClickServiceSearchResult(service)">
                    <div class="popular-img">
                        <img *ngIf="service.service_icon" [src]="baseImageUrl+service.service_icon" class="round-image" alt="sub-category-icon">
                        <img *ngIf="!service.service_icon" [src]="defaultImage" class="round-image" alt="sub-category-icon">
                    </div>
                    <div class="popular-content">
                        <h4>{{service.name | titlecase}}</h4>
                        <div class="time-col">
                            <span><img src="../../assets/images/clock.svg" alt=""></span>
                            <p>Estimated time: 15-20 minutes
                            </p>
                        </div>
                    </div>
                    <div class="price">$ {{service.price}}</div>
                </li>

                <!-- <li>
                    <div class="popular-img"><img src="../../assets/images/house-lockout.jpg" alt=""></div>
                    <div class="popular-content">
                        <h4>House lockout</h4>
                        <div class="time-col">
                            <span><img src="../../assets/images/clock.svg" alt=""></span>
                            <p>Estimated time: 15-25 minutes
                            </p>
                        </div>
                    </div>
                    <div class="price">$290</div>
                </li>
                <li>
                    <div class="popular-img"><img src="../../assets/images/lockout.jpg" alt=""></div>
                    <div class="popular-content">
                        <h4>Car lockout</h4>
                        <div class="time-col">
                            <span><img src="../../assets/images/clock.svg" alt=""></span>
                            <p>Estimated time: 30- 40 minutes
                            </p>
                        </div>
                    </div>
                    <div class="price">$290</div>
                </li>
                <li>
                    <div class="popular-img"><img src="../../assets/images/fixing.jpg" alt=""></div>
                    <div class="popular-content">
                        <h4>Car ignition fixing</h4>
                        <div class="time-col">
                            <span><img src="../../assets/images/clock.svg" alt=""></span>
                            <p>Estimated time: 30- 40 minutes
                            </p>
                        </div>
                    </div>
                    <div class="price">$290</div>
                </li> -->
            </ul>
        </div>

        <!-- popular item end -->
        <app-bottom-tab></app-bottom-tab>
    </div>

</ion-content>