.login-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login-top {
    width: 100%;
    height: 28vh;
    background: #f5f9ff;
    padding: 25px 25px;
    position: relative;
}

.login-bottom {
    width: 100%;
    height: 76vh;
    padding: 30px 25px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.back-btn {
    color: #000;
    cursor: pointer;
    font-size: 22px;
}

.back-btn:hover {
    color: #8c3bfa;
}

.back-btn:focus {
    color: #8c3bfa;
}

.login-logo {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 50px;
    left: 0;
}

.login-logo img {
    height: 120px;
}

.login-bottom h2 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #222222;
}

.login-bottom p {
    font-size: 14px;
    color: #858585;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.input-col {
    width: 100%;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    height: 45px;
    border: 2px #e6e6e6 solid;
    border-radius: 5px;
    padding: 0 10px 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.input:focus {
    border-color: #8c3bfa;
    outline: none;
}

.input-col span {
    width: 55px;
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 41px;
    height: 41px;
    border-right: 2px #e6e6e6 solid;
    position: absolute;
    left: 0;
    top: 2px;
}

.submit-col {
    width: 100%;
}

.submit-col p {
    width: 70%;
    float: left;
    font-size: 12px;
    color: #858585;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.next-btn {
    width: 48px;
    height: 48px;
    background: #8c3bfa;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 48px;
    color: #fff;
    float: right;
    -webkit-box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}

.next-btn .fa {
    font-size: 20px;
}

.next-btn:focus {
    outline: none;
}

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .input {
        width: 100%;
        height: 50px;
        border: 2px #e6e6e6 solid;
        border-radius: 5px;
        padding: 0 10px 0 20px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
    }
    .input:focus {
        border-color: #8c3bfa;
        outline: none;
    }
    .input-col span {
        width: 55px;
        font-size: 14px;
        color: #000;
        text-align: center;
        line-height: 46px;
        height: 46px;
        border-right: 2px #e6e6e6 solid;
        position: absolute;
        left: 0;
        top: 2px;
    }
    .submit-col {
        width: 100%;
    }
}

.login-link {
    color: blue;
    text-transform: uppercase;
}